{{#shapes}}
  .icon--{{base}}{
    width: {{width.outer}}px;
    heigth: {{height.outer}}px;
    background-image: url('/temp/sprite/css/{{{sprite}}}');
    background-position: {{position.relative.xy}};
  }
{{/shapes}}
